





/* 
			================= BODY =================
*/
body{
	background: rgb(0, 81, 255);
	background: radial-gradient(circle, rgb(0, 0, 0) 0%, rgb(11, 116, 186) 31%, rgb(0, 4, 255) 100%);
	
}

/* 
      ================= ALL BUTTONS ANIMATIONS =================
*/
.graph {
    width: 500px; /* width and height are arbitrary, just make sure the #bar styles are changed accordingly */
    height: 30px;
    border: 1px solid #888; 
    background: rgb(168,168,168);
    background: -moz-linear-gradient(top, rgba(168,168,168,1) 0%, rgba(204,204,204,1) 23%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(168,168,168,1)), color-stop(23%,rgba(204,204,204,1)));
    background: -webkit-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
    background: -o-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
    background: -ms-linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8a8a8', endColorstr='#cccccc',GradientType=0 );
    background: linear-gradient(top, rgba(168,168,168,1) 0%,rgba(204,204,204,1) 23%);
    position: relative;
}
.button, .clicker {
	/*Disable selection and drag*/
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    
	/*Revome buttons borders and otlines*/
	outline: none;
	border: none;
	background-color:#FFFFFF;/*white*/
	
	/*Transition Animation between hover/active...*/
	transition: box-shadow 0.3s, background-color 0.3s;
}
.button:hover, .clicker:hover{
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(15, 15, 15, 0.15);/*shadow*/
}
.button:active, .clicker:active{
	/*Shadow, color transition*/
	transition: box-shadow 0.15s, background-color 0.1s;
	box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.3), 0 20px 20px 0 rgba(0, 0, 0, 0.15);
	background-color:#F0F0F0;
}


/*
			================= SHOP =================
*/
.button{
	width: 150;height: 30;
	position: absolute;
	left: 87%;
	transform: translate(-50%, -50%);
}
.button:disabled{
	background-color: #B3B3B3;
}

#b1{top:22%}
#b2{top:32%}
#b3{top:42%}


/* 
	  ================= Main Clicker Button =================
*/
.clicker {
	/*Size*/
	border-radius: 50%;
	width:200px;
	height:200px;
	/* Position */
	position: absolute;/*                postulat de départ */
	top: 50%; left: 50%;/*               à 50%/50% du parent référent */
	transform: translate(-50%, -50%);/*  décalage de 50% de sa propre taille */
	/* Animation */
	transition: width 0.3s, height 0.3s;
}
.clicker:hover {
	width:225px;
	height:225px;
}
.clicker:active {
	transition: width 0.05s, height 0.05s;
	width:200px;
	height:200px;
}
a.button {
    width: 150;height: 30;
	position: absolute;
	color: #5f5959;
	left: 87%;
	top:12%;
	transform: translate(-50%, -50%)
	
	;
}

/* 
	    ================= Money text Display =================
*/

.money-text {
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  margin-left: 20px;
  color: #FFFFFF;
  font-size: 50;
}
